
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/visualcontrollers.js'%}"></script>
    <title>Aimico</title>
  </head>
  <body style="background-color: #333; color: #ccc">
    <div class="container-fluid">
      <div class="row justify-content-center">
        {% include 'header.html' %}
        <div class="col-8">
          <h2 class="mt-2">Web Video Downloader</h2>
          <hr class="mt-0 mb-4">
            {% block content %} 
            {% endblock content %}
        </div>
        {% include 'footer.html' %}
      </div>
    </div>
    <script>

      var msg = ''
      window.finish = false

      var cycle = 0
      function doProgress() {
        if(window.finish===false) {
          console.log("progress");
          cycle ++
          if (cycle == 10) {
            document.querySelector("#message-text").textContent = "";
            cycle = 0
          }
          document.querySelector("#message-text").textContent += ".";
          if(window.finish === false)setTimeout(doProgress, 50);//wait 50 millisecnds then recheck
          return;
        }
        else return;
      }


      //const roomName = JSON.parse(document.getElementById('room-name').textContent);
      const commName = 'server'
     
      const chatSocket = new WebSocket(
          'ws://'
          + window.location.host
          + '/ws/comm/'
          + commName
          + '/'
      );
      
   
      document.querySelector('#thumb').style.display = "none"
    
      
      chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        msg = data.message + '\n'
        sessionStorage.setItem('message', msg);
        console.log(msg)
        if ( data.message.includes("progress_download")) {window.finish = false; document.querySelector("#message-text").textContent = ""; doProgress();}
        if ( data.message.includes("download_ok") ) {
          filename=data.message.split("#")[1];
          document.querySelector('#ytvideo').src="/static/media/"+filename;
          window.finish = true;
          document.querySelector("#message-text").textContent += "Download finish";
          /*document.location ='http://127.0.0.1:8000/download/youtube/'*/
          document.querySelector('#input-file').value = ""
          //document.querySelector('#thumb').src=document.querySelector('#thumb').src+"/videodl.webp"
          document.querySelector('#ytvideo').style.display = "block"
          document.querySelector("#message-text").textContent=""
          console.log("fine download in client")
        }
      };

      chatSocket.onopen = function(e) {
        console.log('chat open')
      }
    
      chatSocket.onclose = function(e) {
          console.error('Chat socket closed unexpectedly');
      };
      
      document.querySelector('#download-btn').onclick = function(e) {
        //document.querySelector("#message-text").textContent = ""
        dlurl = document.querySelector('#input-file').value;        
        if (dlurl !='') {
          chatSocket.send(JSON.stringify({
            'type' : "start_download",
            'message': dlurl
            }));
          };
        }

      document.querySelector('#readme-btn').onclick = function(e) {
          chatSocket.send(JSON.stringify({
              'type' : "client_message",
              'message': "readme"
          }));
      };

      document.querySelector('#input-file').onchange = function (e){
        document.querySelector('#ytvideo').style.display = "none";
        
        //document.querySelector('#ytvideo').src="";
      }


    </script>
  </body>
</html>