{% extends 'base.html' %}
{% load static %}
{% load  media %}
{% block content %}
<h4>Youtube Facebook Instagram</h4>
<h5>{{ subsection }}</h5>

<hr class="mt-0 mb-4">

<div class="row">
  <p>
    <button id="readme-btn" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
      aria-expanded="false" aria-controls="collapseExample" onClick="btnReadmeClicked(this)">
      Istruzioni
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="col">
    <div class="card card-body">
      Per scaricare il video copia l'indirizzo nel box sottostante, appena compare il video premere il tasto destro e "salva video come". 
    </div>
  </div>
  <hr/>
</div>
</div>

  <form action="{% url 'dyoutube' 'download' %}" method="POST" id="form1">
    {% csrf_token %}
  <div>
    <div>
      <input type="input" class="input-group-text" id="input-file" name="youtube_url" value="" style="text-align: left" />
      <label for="inputGroupFile04"></label>
    </div>
    <div>
      <input id="download-btn" class="btn btn-secondary" type="button" value="Ok" style="min-width: 100px"/>
    </div>
  </div>
</form>

<br/>
<div class="row">
  <img id="thumb" src="" class="img-thumbnail rounded float-left" style="max-width:400px; height:auto" />
</div>

<div class="row">
  <video id="ytvideo" width="320" height="240" controls style="display:none">
  Your browser does not support the video tag.
  </video>


</div>

  <br/>
  <span id="message-text"></span>





{% for item in items %}
{{ item }}<br><hr class="mt-0 mb-4">
{% endfor %}
{% endblock content %}

