{% extends 'base.html' %}
{% load static %}
{% load  media %}
{% block content %}
<h3>{{ section}}</h3>
<h5>{{ subsection }}</h5>

<hr class="mt-0 mb-4">

<div class="row">
  <p>
    <button id="readme-btn" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
      aria-expanded="false" aria-controls="collapseExample" onClick="btnReadmeClicked(this)">
      Leggimi
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Carica un immagine per verificare quanti visi sono presenti. Verranno elencate una serie di caratteristiche e proprietà relative alle stesse. 
    </div>
  </div>
</div>
<hr class="mt-0 mb-4">
<div class="row">
  <form action="{% url 'dyoutube' 'download' %}" method="POST" id="form1">
    {% csrf_token %}
  <div>
    <div>
      <input type="input" class="input-group-text" id="input-file" name="youtube_url" value=""/>
      <label for="inputGroupFile04"></label>
    </div>
    <div>
      <input id="download-btn" class="btn btn-secondary" type="submit" value="Scarica" />
    </div>
  </div>
</form>
</div>
<br/>
<div class="row">
{% if imgsrc != '' %} 
  <img src="{% static imgsrc %}" class="img-thumbnail rounded float-left" style="max-width:400px; height:auto" />
  {% if rekog_imgsrc != '' %} 
    <img src="{% static rekog_imgsrc %}" class="img-thumbnail rounded float-right" style="max-width:400px; height:auto" />
  {% endif %}
  <br/> <br/>
  <span id="message-text"></span>
  <hr class="mt-0 mb-4">
  <h4>..... {{ n_items }} ....</h4>
  <hr class="mt-0 mb-4"> 
{% endif %}
</div>


{% for item in items %}
{{ item }}<br><hr class="mt-0 mb-4">
{% endfor %}
{% endblock content %}

